name: lint
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
    paths-ignore:
      - 'README.md'
      - '.gitignore'
      - '.gitattributes'
      - '.github/**/*'
  pull_request:
    paths-ignore:
      - 'README.md'
      - '.gitignore'
      - '.gitattributes'
      - '.github/**/*'

env:
  GO_VERSION: 1.18.x

jobs:
  # Check if there any dirty change for go mod tidy
#  go-mod:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Install Go
#        uses: actions/setup-go@v3
#        with:
#          # stable: 'false' # Keep this line to be able to use rc and beta version of Go (ex: 1.18.0-rc1).
#          go-version: ${{ env.GO_VERSION }}
#      - name: Checkout code
#        uses: actions/checkout@v3
#      - name: Check go mod
#        run: |
#          go mod tidy
#          git diff --exit-code go.mod

  # We already run the current golangci-lint in tests, but here we test
  # our GitHub action with the latest stable golangci-lint.
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          # stable: 'false'  # Keep this line to be able to use rc and beta version of Go (ex: 1.18.0-rc1).
          go-version: ${{ env.GO_VERSION }}
      - name: lint
        uses: golangci/golangci-lint-action@v4.0.0
        with:
          version: latest
          # skip cache because of flaky behaviors
          skip-build-cache: true
          skip-pkg-cache: true

